body{
    background-color: black;
    text-align: center;
    width: 100%;
    padding-bottom: 0 20px;
}
h1{
    color: rgb(241, 235, 225);
    font-size: 50px;
}

.centro{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    margin: 0 auto;
    display: block;
    position: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}